@font-face {
  src: url('../fonts/Gobold-Light.otf');
  font-family: 'Gobold-light';
  font-weight: 600;
  font-size: 1em;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, button {
  outline: none;
}

#menu {
  padding: 10px 5%;
  width: 100%;
  height: 60px;
  position: fixed;
  transition: all 0.3s;
  z-index: 2;
}

#menu img {
  max-height: 40px;
  vertical-align: middle;
  width: auto;
  filter: invert(100%);
  transition: filter 0.5s linear;
}

#menu ul {
  float: right;
  height: 100%;
  line-height: 37px;
  vertical-align: middle;
}

#menu li {
  height: 40px;
  display: inline;
  float: left;
  padding: 0 10px;
  font-family: 'Open Sans Light', sans-serif;
  font-weight: lighter;
  border-bottom: 2px solid transparent;
  transition: all .5s;
}

#menu li:hover {
  border-bottom-color: #fff;
}

#menu a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#menu.scrolled {
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.4);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.4);
}

#menu.scrolled li:not(#signup)>a {
  color: #000;
}

#menu.scrolled li:not(#signup):hover {
  border-bottom-color: #000;
  color: #000;
}

#menu.scrolled img {
  filter: invert(0%);
}

#signup {
  background-color: #FF8E2A;
  border-radius: 8px;
  border: 3px solid #FF8E2A;
  box-shadow: 0 4px 0 #bc681e;
  padding: 5px;
}

#signup a {
  margin-top: -2px;
}

#signup:active {
  box-shadow: none;
  margin-top: 5px;
  /* vertical-align: bottom; */
  transition: 0.1s;
}

.signup {
  font-family: 'Open Sans SemiBold', sans-serif;
  font-weight: 600;
  font-size: 1em;
  padding: 15px;
  border-radius: 8px;
  background-color: #FF8E2A;
  color: #fff;
  margin-top: 15px;
  box-shadow: 0 4px 0 #bc681e;
  cursor: pointer;
}

.signup:active {
  margin-top: 19px;
  margin-bottom: -4px;
  box-shadow: none;
  transition: all 0.1s;
}

#bars {
  display: none;
}

.banner {
  background-origin: border-box;
  padding: 5px 5%;
  text-align: center;
  width: 100%;
  height: 600px;
  background-position: top;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%), url("../img/salvador.jpg");
}

.banner h1 {
  font-family: 'Gobold-light', sans-serif;
  font-weight: 600;
  font-size: 6.1em;
  padding-top: 8%;
  color: #fff;
  text-shadow: 0 10px 5px rgba(0, 0, 0, 0.38);
}

.banner span {
  font-family: 'Gobold-light', sans-serif;
  font-weight: 600;
  font-size: 1.20em;
  color: #fff;
  text-shadow: 0 10px 5px rgba(0, 0, 0, 0.38);
  display: block;
}

.countdown h3 {
  font-family: 'Gobold-light', sans-serif;
  font-weight: 600;
  color: #fff;
  font-weight: lighter;
  font-size: 1.75em;
  padding-top: 6%;
}

#clockdiv {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv>div {
  display: inline-block;
}

#clockdiv div>span {
  padding: 15px;
  margin-top: 10px;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 0.5em;
}
/* 
.banner button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  color: #FF8E2A;
  font-size: 2em;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.85);
  /* margin-top: 120px; */
  margin-top: 6.8%;
  cursor: pointer;
  outline: none;
  display: none;
} */

.banner a {
  text-decoration: none;
  color: #FF8E2A;
}

a:active, a:focus, a:link {
  outline: 0;
  border: none;
}

section {
  padding: 40px 5%;
}

section::after {
  display: block;
  content: "";
  clear: both;
}

.about {
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
}

.info {
  display: inline;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}

.info h2 {
  font-size: 2.4em;
  padding-bottom: 10px;
  font-weight: lighter;
  text-align: center;
}

.info img {
  vertical-align: middle;
  float: left;
  margin: 0px 15px 15px 0px;
  width: 135px;
}

.logo-flisol {
  shape-outside: url(../img/logo-vertical.svg);
  shape-margin: 0.9em;
  shape-image-threshold: 0.9;
  float: left;
}

.call {
  width: 100%;
  margin: 0 auto;
  min-height: 300px;
  text-align: center;
  color: #fff;
  display: flex;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.80) 100%), url("../img/code.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.palestras {
  background-position: center;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 100%), url("../img/flisol.jpg");
  color: #fff;
  padding: 40px 0;
}

.call h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 2em;
  vertical-align: middle;
}

.palestra-btn {
  display: block;
  font-family: 'Open Sans SemiBold', sans-serif;
  font-weight: 600;
  font-size: 1em;
  background-color: #fff;
  background-size: cover;
  background-position: 50% 40%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  color: #fff;
  border: 4px solid #eee;
  cursor: pointer;
  z-index: 0;
  transition: 0.2s;
  margin: 0 auto;
  margin-top: 25px;
}

.palestra-btn:hover {
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
}

.palestras-row {
  width: 100%;
  display: inherit;
}

.palestras-item {
  display: inline-block;
  padding: 0 35px;
  text-align: center;
  margin: 0 auto;
}

.palestras-item p {
  font-family: 'Open Sans Regular', sans-serif;
  display: block;
  text-align: center;
  padding-top: 8px;
}

.palestras-item span {
  font-family: 'Open Sans Light', sans-serif;
  display: block;
  font-weight: 200;
  text-align: center;
  padding-top: 5px;
  width: 100%;
}

.aurium {
  background-image: url('../img/palestrantes/aurium.jpg');
}

.juliana {
  background-image: url('../img/palestrantes/juliana.png');
}

.geisa {
  background-image: url('../img/palestrantes/geisa.jpg');
}

.gildasio {
  background-image: url('../img/palestrantes/gildasio.jpg');
}

.jprodrigues {
  background-image: url('../img/palestrantes/jprodrigues.jpg');
}

.alexos {
  background-image: url('../img/palestrantes/alexandro.jpg');
}

.rogerio {
  background-image: url('../img/palestrantes/rogerio.jpg');
}

.rafael {
  background-image: url('../img/palestrantes/raf.png');
}

.marcos {
  background-image: url('../img/palestrantes/marcosgomes.jpg');
  background-position: center;
  background-size: contain;
}

.luiz {
  background-image: url('../img/palestrantes/luiz.jpg');
}

.nicolle {
  background-image: url('../img/palestrantes/nicolle.jpg');
  padding: 70px !important;
}

.mauricio {
  background-image: url('../img/palestrantes/mauricio.jpg');
  padding: 70px !important;
}

.mauricioCesar {
  background-image: url('../img/palestrantes/mauricioCesar.jpg');
  padding: 70px !important;
}

.karen {
  background-image: url('../img/palestrantes/karen.jpg');
  padding: 50px !important;
}

.danilo {
  background-image: url('../img/palestrantes/danilo.jpg');
  padding: 50px !important;
}

.felipe {
  background-image: url('../img/palestrantes/felipe.jpg');
  padding: 50px !important;
}

.murilo {
  background-image: url('../img/palestrantes/murilo.jpg');
  padding: 50px !important;
}

.trilha-impactos a {
  border: 4px solid #eee;
}

.trilha-seguranca a {
  border: 4px solid #b12;
}

.trilha-desenvolvimento a {
  border: 4px solid #31b0d5;
}

.legendas {
  width: 100%;
}

#legenda-auditorio {
  display: inline;
  padding: 0 20px;
}

#legenda-auditorio button {
  padding: 12px 18px;
  background-color: #eee;
  border-radius: 3px;
}

#legenda-auditorio span {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 1.15em;
  vertical-align: bottom;
  padding-left: 8px;
}

#legenda-seguranca {
  display: inline;
  padding: 0 20px;
}

#legenda-seguranca button {
  padding: 12px 18px;
  background-color: #b12;
  border-radius: 3px;
}

#legenda-seguranca span {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 1.15em;
  vertical-align: bottom;
  padding-left: 8px;
}

#legenda-desenvolvimento {
  display: inline;
  padding: 0 20px;
}

#legenda-desenvolvimento button {
  padding: 12px 18px;
  background-color: #31b0d5;
  border-radius: 3px;
}

#legenda-desenvolvimento span {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 1.15em;
  vertical-align: bottom;
  padding-left: 8px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.65);
}

.modal::after {
  clear: both;
  content: "";
  display: block;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.modal-body {
  padding: 30px;
  background-color: #fff;
  z-index: 2;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

#modalText small {
  color: #888;
}

.modal-content {
  display: inline-block;
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 500px;
  margin: 30px 0;
  vertical-align: middle;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 5px;
  overflow: hidden;
}

.modal-body h4 {
  font-size: 1.1em;
  margin: 0;
}

.modal-body p {
  margin: 1em 0;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: #333;
  float: right;
  font-size: 2em;
  font-weight: bold;
  text-shadow: none;
  margin-top: -18px;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modalText {
  text-align: justify;
}

.minicursos {
  width: 100%;
}

.minicursos h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 2em;
  vertical-align: middle;
  text-align: center;
}

.minicursos-row {
  padding-top: 30px;
  width: 100%;
  height: auto;
  display: inherit;
  text-align: center;
}

.minicursos-item {
  width: 25%;
  display: inline;
  padding: 0 auto;
  float: left;
  text-align: center;
}

.minicurso-btn {
  font-family: 'Open Sans SemiBold', sans-serif;
  font-weight: 600;
  font-size: 1em;
  background-color: #fff;
  background-size: cover;
  background-position: 50% 40%;
  padding: 80px;
  border-radius: 50%;
  color: #fff;
  margin-top: 15px;
  border: 4px solid #222;
  cursor: pointer;
  transition: 0.2s;
}

.minicurso-btn:hover {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.85);
}

.minicursos-item p {
  font-family: 'Open Sans Regular', sans-serif;
  text-align: center;
  padding-top: 8px;
}

.minicursos-item span {
  font-family: 'Open Sans Light', sans-serif;
  font-weight: 300;
  text-align: center;
  padding-top: 10px;
  width: 100%;
}

.minicursos-item time {
  font-family: 'Open Sans Regular', sans-serif;
  text-align: center;
  padding-top: 10px;
  width: 100%;
}

.installfest {
  width: 100%;
  background-color: #ff8e2a;
}

.installfest img {
  width: 300px;
  display: inline-block;
  vertical-align: middle
}

.installfest h2 {
  font-family: 'Gobold-Light', sans-serif;
  font-weight: bold;
  font-size: 3em;
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  color: #fff;
}

.installfest-call {
  display: inline-block;
}

.installfest span {
  font-family: 'Gobold-Light', sans-serif;
  font-size: 1.5em;
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  padding-left: 10%;
}

.programacao {
  width: 100%;
  background-color: #fff;
  color: #000;
}

.programacao h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 2em;
  padding-bottom: 4%;
  text-align: center;
  vertical-align: middle;
}

.almoco {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  padding: 3% 0;
  text-align: center;
  vertical-align: middle;
}

.separador {
  width: 100%;
  padding: 2% 0;
}

.prog-tabela {
  width: 90%;
  margin: 0 auto;
}

.prog-linha {
  width: inherit;
  height: 65px;
  padding-bottom: 3%;
  padding-top: 1%;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  border-bottom: 1px solid #00000040;
  border-radius: 8px;
  display: block;
}

.prog-linha h3 {
  display: inline;
  font-size: 1em;
  font-family: 'Open Sans';
  font-weight: bolder;
}

.prog-linha time {
  display: inline;
  font-size: 1.1em;
  padding-right: 5%;
}

.prog-linha small {
  display: inline;
  font-family: 'Open Sans Light';
  font-style: italic;
  font-size: 0.9em;
  float: right;
}

.impactos {
  border-left: 2px solid #aaa;
  padding-left: 3%;
}

.seguranca {
  border-left: 2px solid #b12;
  padding-left: 3%;
}

.desenvolvimento {
  border-left: 2px solid #31b0d5;
  padding-left: 3%;
}

.coffee {
  width: 100%;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0 auto;
}

.coffee i {
  padding-right: 2%;
}

.coffee span {
  text-align: center;
  margin: 0 auto;
}

.local {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #ffba30;
}

.local h3 {
  font-weight: lighter;
  font-size: 2.4em;
  margin-bottom: 15px;
}

.local iframe {
  width: 95%;
  height: 350px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
}

.local a {
  font-size: 1.1em;
  font-family: 'Open Sans SemiBold', sans-serif;
  color: #000;
}

footer {
  display: block;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 0.9em;
  color: #000;
  padding: 15px 5%;
  background-color: #222;
  color: #eee;
}

footer a {
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

.partners {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.apoio {
  float: left;
}

.by {
  float: right;
}

.apoio, .by {
  width: 50%;
}

.partners h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  padding-bottom: 15px;
}

.partners .apoio img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  max-width: 250px;
  max-height: 90px
}

.by img {
  max-width: 180px;
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

@media (max-width: 890px) {
  section h2 {
    font-size: 2em;
  }
  .call h3 {
    font-size: 1.6em;
  }
  #btn-more {
    display: none;
  }
  #menu {
    overflow: hidden;
  }
  .banner button {
    margin-top: 21%;
  }
  #bars {
    display: block;
    float: right;
    padding-right: 10px;
    color: #fff;
    font-size: 2em;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    cursor: pointer;
  }
  .scrolled #bars {
    color: #000;
  }
  #menu.active {
    height: 400px;
    transition: 0.3s;
    background-color: #FFF;
  }
  #menu.active li:not(#signup)>a, #menu.active #bars {
    color: #000;
  }
  #menu.active img {
    filter: invert(0%);
  }
  #menu ul {
    padding-top: 50px;
    float: inherit;
    text-align: center;
    height: inherit;
    margin: 0 auto;
    width: 80%;
    transition: display 0.5s linear;
  }
  #menu li {
    text-align: center;
    display: block;
    transition: display 0.5s linear;
    float: none;
  }
  #menu li:not(#signup):hover {
    border-color: transparent !important;
    background-color: #EFEFEF;
  }
  .parcerias {
    display: block;
  }
  .apoio, .by {
    width: 100%;
  }
  .minicursos-item {
    width: 100%;
    display: block;
    padding: 20px 0;
    float: left;
    text-align: center;
  }
  .prog-tabela {
    width: 95%;
  }
  .prog-linha {
    padding-bottom: 4%;
    padding-top: 0;
  }
  .coffee {
    padding-bottom: 4%;
  }
}

@media (max-width: 540px) {
  .banner h1 {
    font-size: 4.2em;
    padding-top: 25%;
  }
  .banner span {
    font-size: 0.9em;
  }
  .countdown {
    padding-top: 13%;
  }
  .countdown h3 {
    font-size: 1.5em;
  }
  #clockdiv {
    font-size: 2.7em;
    padding-top: -2%;
  }
  .banner button {
    margin-top: 15%;
  }
  .prog-linha {
    height: 110px;
  }
  .prog-linha time, .prog-linha small {
    display: block;
  }
  .prog-linha h3 {
    display: block;
    width: inherit;
  }
}

@media (max-width: 1210px) {
  .legendas {
    height: auto;
  }
  #legenda-auditorio, #legenda-desenvolvimento, #legenda-seguranca {
    display: block;
    float: left;
  }

  .installfest img {
    width: 300px;
    display: block;
    margin: 0 auto;
  }

  .installfest h2 {
    font-family: 'Gobold-Light', sans-serif;
    font-weight: bold;
    font-size: 3em;
    display: block;
    line-height: inherit;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 3%;
  }

  .installfest span {
    font-family: 'Gobold-Light', sans-serif;
    font-size: 1.5em;
    width: 60%;
    display: block;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding-left: 0;
  }
}

@media (max-width: 1550px) {
  .banner button {
    display: initial;
  }
}
